{#
/**
 * @file
 * Template for the password-protected PDF access form.
 *
 * Available variables:
 * - pdf_document: The PDF document entity.
 * - form: The password form.
 */
#}
<div class="pdf-password-wrapper">
  <div class="pdf-password-container">
    <div class="pdf-password-icon">
      🔒
    </div>
    <h2 class="pdf-password-title">{{ 'Password Protected'|t }}</h2>
    <p class="pdf-password-description">
      {{ 'This PDF document is protected. Please enter the password to view it.'|t }}
    </p>
    <div class="pdf-password-document">
      <strong>{{ pdf_document.title.value }}</strong>
    </div>
    <div class="pdf-password-form">
      {{ form }}
    </div>
  </div>
</div>
